html, body {
  background-color: azure;
}
ul {
    list-style-type: none;
  }

  .datos{
    text-align: end;
  }

  .subElectIng{
      margin-top: 50px;
      color: orangered;
  }
  .btnRigo{
    cursor: pointer;
  }

  .nav-cv{
    border-radius: 10px;
  }

  a{
    text-decoration: none;
  }

  .hamburger{
    background-color: coral;
    border-radius: 50%;
    padding: 0.5rem;
    border: 0;
	transition: all 40ms linear;
	/* margin-top: 10px; */
	margin-bottom: 10px;
	/* margin-left: 2px; */
	margin-right: 2px;
    /* box-shadow: 0 0.2em coral, 0 0.4em rgb(0 0 0 / 27%); */
  }
  /* .hamburger:active:focus,
  .hamburger:focus:hover,
  .hamburger:focus{
    background: #e5dc15;
    color: #0e79b2;
	outline: medium none;
  } */

  .hamburger.btn-success {
    box-shadow: 0 0 0 1px #e45d35 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c5320d, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: coral;
    box-shadow: 6px 5px 24px #666666;
  }

  .hamburger:hover{
    background-color: #df3910;
  }
  
  .hamburger.btn-success:active,
  .hamburger.btn-success.active {
    box-shadow: 0 0 0 1px #df3910 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #d75939;
  }

  .btn-rigo{
    display: none;
  }

  li{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  

  @media (max-width: 490px) {    
    
    .nav-cv {
      border-radius: 0px;
    }
    .movil-nav{
      position: fixed;
      top: -20px;
      /* width: 100%; */
    }

    #Titulo{
      margin-top: 61px;
    }

    .name{
      font-size: 20px;
    }

    .subElectIng {
      margin-top: 20px;
    }

    .nav-item{
      margin-bottom: 3px;
    }
  }


