ul {
    list-style-type: none;
  }

  .datos{
    text-align: end;
  }

  .subElectIng{
      margin-top: 50px;
      color: orangered;
  }
  .btnRigo{
    cursor: pointer;
  }

  .nav-cv{
    border-radius: 10px;
  }

  a{
    text-decoration: none;
  }

  @media (max-width: 490px) {    
    
    .nav-cv {
      border-radius: 0px;
    }
    .movil-nav{
      position: fixed;
      top: -20px;
      width: 100%;
    }

    #Titulo{
      margin-top: 61px;
    }

    .name{
      font-size: 20px;
    }

    .subElectIng {
      margin-top: 20px;
    }

    .navbar-nav{
      text-align: center;
    }

    .nav-item{
      margin-bottom: 3px;
    }
  }


